@model UserIdentityProject.Models.LoginModel
@{
    ViewBag.Title = "Login";
}

<div class="container mt-4">
    <h2>Login</h2>
    <hr />

    @Html.ValidationSummary()

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />

        <div class="form-group">
            <label for="Username">Username</label>
            @Html.TextBoxFor(i => i.Username, new { @class = "form-control", placeholder = "Enter your username" })
        </div>

        <div class="form-group">
            <label for="Password">Password</label>
            @Html.PasswordFor(i => i.Password, new { @class = "form-control", placeholder = "Enter your password" })
        </div>

        <button class="btn btn-primary" type="submit">Login</button>
    }

    <a href="/Account/Register" class="btn btn-danger mt-2">Register</a>
</div>
